flet == 0.24.1
pip == 23.2.1
mysql-connector-python == 8.3.0
numpy == 2.2.0
matplotlib == 3.10.0
pdfkit == 1.0.0 # (installare anche "wkhtmltopdf" dal seguente link: https://wkhtmltopdf.org/downloads.html